<!-- <form action="" class>
    <label for="Username">
        Username:
    </label>
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
    <br><br>
    <label for="password">
        Password:
    </label>
    <input type="password" name="pwd" placeholder="Password" [(ngModel)]="password">
    <br><br>
    <button type="submit" name="submit" (click)='myFunction()'>Submit</button>

    <p>{{username}}</p>
    <p>{{password}}</p>
    <p><span style="color: red;">{{submit}}</span></p>
</form> -->

<div class="login">
    <div class="form-box">
        <div class="img-section"></div>
        <div class="profile-info">
            <h2>Profile Details</h2>
            <p><b>Level</b>: Senior Software Engineer, Team Lead</p>
            <p><b>Username</b>: {{username}}</p>
            <p><b>Password</b>: {{password}}</p>
        </div>
        <button>Edit Profile</button>
    </div>
</div>