<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
    #content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        max-width: 100%;
        margin: 0 auto;
        gap: 10px;
        background-color: #099b7e;
        grid-template-areas: "nav nav nav nav" "header header header header" "header header header header" "header header header header" "main main main main" "main main main main" "section section section section" "footer footer footer footer";
        /* Add "section-2 section-2 section-2 section-2" before footer above to add the commented section-2 below  */
    }
    
    #content>* {
        padding: 30px;
    }
    
    nav {
        background-color: #099b7e;
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 900;
        border-bottom: 1px solid rgba(0, 0, 0, 0.192);
        box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
    }
    
    header {
        grid-area: header;
        text-align: center;
        padding: 25px 0;
        font-size: 26px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
    }
    
    main {
        grid-area: main;
    }
    
    section {
        grid-area: section;
    }
    
    aside {
        grid-area: aside;
    }
    
    section-2 {
        grid-area: section-2;
    }
    
    footer {
        grid-area: footer;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.192);
        box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
    }
    
    h1 {
        font-weight: bolder;
        font-size: 28px;
        text-transform: uppercase;
    }
    
    h1.logo:hover {
        cursor: pointer;
    }
    
    .links {
        visibility: hidden;
    }
    
    .li div.aside-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    div.circle {
        height: 40px;
        width: 40px;
        text-align: center;
        border: 2px solid #23bb77;
        border-radius: 50%;
    }
    
    div.date,
    div.circle {
        padding: 15px;
    }
    
    aside {
        background-image: url(../assets/img/Currency_Two.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
    div.converter {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 200px;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        margin: 0 auto;
        color: #000;
        text-align: center;
    }
    
    div.currency-from,
    div.currency-to {
        width: 50%;
        height: 100%;
    }
    
    div.currency-to {
        background-color: #d6e4fac4;
    }
    
    input,
    select {
        border: none;
        border-bottom: 1px solid #000;
    }
    
    input {
        padding: 5px;
    }
    
    select {
        padding: 4px;
    }
    
    p.convert {
        margin: 20px;
        font-size: 18px;
    }
    
    p.info {
        padding: 25px;
    }
    
    div.stats {
        display: flex;
        justify-content: center;
    }
    
    .stats-1 {
        width: 15%;
    }
    
    .stats-2 {
        width: 15%;
    }
    
    .stats-3 {
        width: 15%;
    }
    
    .stats-4 {
        width: 15%;
    }
    
    .success {
        color: green;
    }
    
    .danger {
        color: red;
    }
    
    .btn {
        background-color: #020b2a;
        color: #fff;
        padding: 15px 30px 15px 30px;
        border: none;
        border-radius: 6px;
    }
    
    .convert-btn {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: -55px;
        margin-left: 45px;
        padding: 5px;
    }
    
    .btn:hover {
        background-color: #05123f;
        cursor: pointer;
    }
    
    .section-2 {
        height: 400px;
        background-color: #fff;
        color: #000;
    }
    
    .section-2-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .img-box {
        background-image: url(/Currency_Monochromatic.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }
    
    .text-box,
    .img-box {
        width: 50%;
    }
    
    .text-box {
        text-align: center;
        align-items: center;
        display: flex;
        align-items: center;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
    .form-box {
        background-color: #fff;
        width: 60%;
        height: 80%;
        margin: 10px auto;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
    
    input {
        text-align: center;
        margin: 0 110px;
        padding: 5px;
        height: 30px;
        width: 70%;
        border: none;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        box-shadow: 1px 1px 9px 0px rgba(172, 169, 187, 0.75);
        -webkit-box-shadow: 1px 1px 9px 0px rgba(172, 169, 187, 0.75);
        -moz-box-shadow: 1px 1px 9px 0px rgba(172, 169, 187, 0.75);
    }
    
    input:focus {
        border: #fff;
    }
    
    button {
        text-align: center;
        border: none;
        color: #fff;
        background-color: #099b7e;
        border: 1px solid #ACA9BB;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin: 0 35%;
        margin-top: 20px;
        padding: 5px;
        height: 35px;
        width: 30%;
    }
    
    button:hover {
        background-color: #177c68;
    }
    
    @media (min-width: 768px) {
        #content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(100px, auto);
            max-width: 100%;
            margin: 0 auto;
            gap: 10px;
            background-color: #099b7e;
            grid-template-areas: "nav nav nav nav" "main main main main" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
            /* Add "section-2 section-2 section-2 section-2" before footer above to add the commented section-2 below  */
        }
        nav {
            background-color: #099b7e;
            grid-area: nav;
            position: sticky;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 900;
            border-bottom: 1px solid rgba(0, 0, 0, 0.192);
            box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.75);
        }
        div.links>* {
            padding: 0 15px;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.795);
            font-size: 18px;
        }
        div.links>*:hover {
            color: #fff;
        }
        .links {
            visibility: visible;
        }
    }
</style>

<div id="content">
    <nav>
        <h1 class="logo">Convert<span style="color: 
          #ffd200;">it</span></h1>
        <div class="links">
            <a href="http://localhost:9841/about">About</a>
            <a href="http://localhost:9841/news">Market News</a>
            <a href="http://localhost:9841/blog">Blog</a>
            <a href="http://localhost:9841/user">Account</a>
        </div>
    </nav>
    <main>
        <div class="form-box">
            <h2 style="text-align: center; color: #099b7e; padding-top: 20px; padding-bottom: 10px;">Login account</h2>
            <p style="text-align: center; color: #099b7e; padding-bottom: 10px;">Dont have an account? <a href="#">Signup</a></p>
            <form action="#">

                <input id="username" type="text" name="username" placeholder="Username or Email" required>

                <br><br>

                <input id="password" type="password" name="password" placeholder="password" required>

                <br><br>
                <button type="submit" name="login">Login</button>
                <!-- <button type="submit" name="login" (click)="submitform()" [disabled]="!isenabled">Login</button> -->

            </form>
        </div>
    </main>

    <!-- <section-2 class="section-2">
      <div class="section-2-container">
          <div class="img-box">
          </div>
          <div class="text-box">
              <h2 class="highlight">Be On The Go With Current Prices of Currency in a Single Click</h2>
          </div>
      </div>
  </section-2> -->

    <footer>
        <p style="color: rgba(255, 255, 255, 0.836);">Copyrights &copy;2021 by Kombe Charles</p>
    </footer>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <script src="" async defer></script>



    <!-- <router-outlet></router-outlet> -->